MODEl=ollama
MISTRAL_API_KEY="your_mistral_api_key_here"
SCENARIO_ID="your_scenario_id_here"
SCENARIO_DESCRIPTION="your_scenario_description_here" # Or leave empty for default

INPUT_PRICE_PER_MILLION=0.1
OUTPUT_PRICE_PER_MILLION=0.3